.GetInput {
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    color: hsla(278, 68%, 11%, 0.75);
    /* background-color: beige; */

    /* display: none; */
}

.container {
    /* background-color: rgb(164, 255, 255); */
    width: 22rem;
}

.container input {
    border: 0.1px solid rgba(0, 0, 0, 0.144);
    border-radius: 7px;
    padding: 0.5rem;
    font-size: 1.1rem;
}

input:focus {
    border: 0.1px solid hsl(278, 94%, 30%);
}

.container h5 {
    margin-bottom: 0.4rem;
}

.number-wrapper {
    margin-top: 1.2rem;
}

.expDate-cvc-wrapper {
    margin-top: 1.2rem;
    display: flex;
}

.cvc-input-wrapper > input{
    width: 11rem;
}
.cvc-input-wrapper {
    max-width: 11rem;
}

.expDate-wrapper .input-wrapper {
    display: flex;
}

.expDate-wrapper .input-wrapper input {
    width: 100%;
}

.expDate-wrapper .input-wrapper input {
    margin-right: 8px;
}

.ConfirmBtn {
    width: 100%;
    margin-top: 2rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

::placeholder {
    font-size: 1rem;
    opacity: 0.5;
}


.name-placeholder {
    /* background-color: aquamarine; */
    width: 100%;
}
.number-placeholder {
    /* background-color: aquamarine; */
    width: 100%;
}



@media (min-width: 900px) {
    .Form {
        /* background-color: beige; */
        width: 100%;
        align-items: center;
        /* height: 100%; */
        margin-top: 0;
    }

    .container {
        /* background-color: rgb(164, 255, 255); */
        width: 26rem;
        /* margin-left: 20%; */
    }

    .container input {
        padding: 0.8rem;
        border-radius: 7px;
    }

    .number-wrapper {
        margin-top: 1.8rem;
    }
    
    .expDate-cvc-wrapper {
        margin-top: 1.8rem;
    }

    .ConfirmBtn {
        margin-top: 2.4rem;
    }

    .cvc-input-wrapper > input {
        margin-left: 1rem;
        width: 9rem;
    }

    .cvc-input-wrapper > h5 {
        margin-left: 1rem;
    }

}